html, body{
  margin: 0;
  padding: 0;
}

body{
  margin-top: 5rem;
  background-color: lightblue;
  color: darkslateblue;
  text-align: center;
  font-family: 'Calibri', sans-serif;
}

.example-container{
  display: flex;
  justify-content: center;
}

.examples-ul{
  text-align: left;
  list-style-type: square;
}

li{
  margin-bottom: 5px;
}

.url{
  padding: 0 4px 0 4px;
  background-color: darkslateblue;
  color: lightblue;
}